﻿<!DOCTYPE html>
<html>
    <head>
        <title>The World - @ViewBag.Title</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
    <div id="Sidebar">
        <img src="~/img/user1.jpg" alt="headshot" class="headshot" />
        <span id="Username">Sam Hastings</span>
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="Content">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="SidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-conroller="App" asp-action="Index" class="navbar-brand">The World</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-info"><i class="fa fa-save"></i>Save</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-info"><i class="fa fa-print"></i>Print</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="Main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="Footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2015 The World Ltd.</h4>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
